body{
 background-color:#05c4; 
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
}

.form-control{
    text-align:left;
    margin-bottom: 26px;
}

#form{
    background-color:#05c4;
    color: black;
    margin:50px auto;
    padding: 30px 20px;
    max-width: 500px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control label{
    display: inline-block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea{
    border: 1px solid black;
    border-radius: 3px;
    font-family: inherit;  
    padding: 10px;
    width: 95%;
    display:inline-block;
    background-color: whitesmoke;
}

.form-control input[type="checkbox"]
{
    display: block;
    width: auto;
   
}

button{
    background-color:cadetblue;
    border: 1px solid black;
    border-radius: 2px;
    font-family: inherit;
    font-size: 20px;
    width: 30%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

footer{
    text-align: left;
    color:#000;
    
}

.form-control input[type="radio"] {
    display: inline-block;
    width: 30px;
}

