body{
        background-color: cadetblue;
        margin: 5%;  
}

#image{
    display: inline-block;
    width: 60%;
}

#img{
  text-align: center;
}

#title{
    color:darkslategray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:italic;
    font-size :35px;
    text-shadow: 5px 5px 10px white;
}

#caption{
    color: black;
    text-align: center;
    display: block;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#about{
    background-color: cornflowerblue;
    box-shadow: 10px 20px 20px #98FB98;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:10px;
    margin-top: 40px;
    padding: 15px 25px;
} 

h1.mahi{
    text-align: center; 
    text-shadow: 5px 5px 10px black;
    font-size: 35px;
    color: white;
}


z
.link{
    text-decoration: none;
    color: red;
}